
/********** 全局设置 **********/
html {min-height: 100%;position: relative;}
body{min-height: 100%;-ms-overflow-style: scrollbar;font-size:14px; font-family:"Microsoft Yahei", Helvetica , Arial, sans-serif; word-wrap:break-word; line-height:1.5; color:#333;}
ul,ol,li{margin:0;padding:0;list-style:none;}
pre{background: none;border: 0;border-radius: 0;padding: 0;margin: 0;} /*代码高亮*/
a.disabled{color:#818a91;cursor:not-allowed;}
a.disabled:hover,
a.disabled:active{text-decoration:none;}
a{text-decoration:none;}
.clearfix:before,
.clearfix:after{
  display:table;
  content:'';
}
.clearfix:after{
  clear:both;
}

/********** 标题、段落 **********/
h1,h2,h3,h4,h5,h6{font-weight:normal; font-family:"Microsoft Yahei";}
h2,.h2{font-size: 28px;}
h3,.h3{font-size: 20px;}
h4,.h4{font-size: 16px;}
h5,.h5{font-size: 14px;}
@media (min-width: 768px) {
  .lead {
    font-size: 16px;
  }
}



/********** 网站整体框架布局 **********/
.navbar-fixed-top + .main-container{padding-top:46px;}
.main-container:before,
.page-content:before{position: absolute;bottom: 0;top: 0;left:0;right:0;z-index: -2;content: "";max-width: inherit;background-color: #f4f4f4;}
.main-container.container{padding-left: 0;padding-right: 0;}
.main-container.container:before {box-shadow: 0 0 0 1px rgba(0,0,0,0.1);width: inherit;}
@media (max-width: 767px) {
  .main-container.container:before {
    width: 100%;box-shadow: none;
  }
}
.main-content {margin-left: 0;min-height: 100%;padding: 0;}
.main-content:before,
.main-content:after {content: "";display: table;}
.main-content:after {clear: both;}
.sidebar + .main-content {margin-left: 210px;-webkit-transition:margin-left .15s;transition:margin-left .15s;}
.page-content {padding:20px;}



/********** 徽章 **********/
.badge-blue{background-color:#039cfd;}
.badge-lightblue{background-color:#3db9dc;}
.badge-red{background-color:#ff5d48;}
.badge-yellow{background-color:#fcb322;}
.badge-lightgreen{background-color:#1bb99a;}
.badge-grey{background-color:#818a91;}



/********** 按钮 **********/
.btn{font-size:16px;}
/*.input-group-btn > .btn{font-size:14px;}*/
.btn-sm, .btn-group-sm > .btn{padding: 7px 10px;font-size: 14px;line-height: 1;}
.btn-lg, .btn-group-lg > .btn{font-size:18px;}

.btn-blue {color:#fff;background-color:#317eeb;}
.btn-blue:focus,
.btn-blue.focus {color:#fff;background-color:#1c67d2;}
.btn-blue:hover {color:#fff;background-color:#1c67d2;}
.btn-blue:active,
.btn-blue.active,
.open > .dropdown-toggle.btn-blue {background-color:#1c67d2;}
.btn-blue:active:hover,
.btn-blue.active:hover,
.open > .dropdown-toggle.btn-blue:hover,
.btn-blue:active:focus,
.btn-blue.active:focus,
.open > .dropdown-toggle.btn-blue:focus,
.btn-blue:active.focus,
.btn-blue.active.focus,
.open > .dropdown-toggle.btn-blue.focus {background-color:#1c67d2;}
.btn-blue:active,
.btn-blue.active,
.open > .dropdown-toggle.btn-blue {background-image:none;}
.btn-blue.disabled:hover,
.btn-blue[disabled]:hover,
.btn-blue.disabled:focus,
.btn-blue[disabled]:focus,
.btn-blue.disabled.focus,
.btn-blue[disabled].focus{background-color:#317eeb;}

/*幽灵*/
.btn-ringblue{border: 1px solid #317eeb;background: #fff;color: #1e9bf2;}
.btn-ringblue:focus,
.btn-ringblue.focus {color:#fff;background-color:#1c67d2;}
.btn-ringblue:hover {color:#fff;background-color:#1c67d2;}

.btn-lightblue {color:#fff;background-color:#6cc3fe;}
.btn-lightblue:focus,
.btn-lightblue.focus {color:#fff;background-color:#57afea;}
.btn-lightblue:hover {color:#fff;background-color:#57afea;}
.btn-lightblue:active,
.btn-lightblue.active,
.open > .dropdown-toggle.btn-lightblue {background-color:#57afea;}
.btn-lightblue:active:hover,
.btn-lightblue.active:hover,
.open > .dropdown-toggle.btn-lightblue:hover,
.btn-lightblue:active:focus,
.btn-lightblue.active:focus,
.open > .dropdown-toggle.btn-lightblue:focus,
.btn-lightblue:active.focus,
.btn-lightblue.active.focus,
.open > .dropdown-toggle.btn-lightblue.focus {background-color:#57afea;}
.btn-lightblue:active,
.btn-lightblue.active,
.open > .dropdown-toggle.btn-lightblue {background-image:none;}
.btn-lightblue.disabled:hover,
.btn-lightblue[disabled]:hover,
.btn-lightblue.disabled:focus,
.btn-lightblue[disabled]:focus,
.btn-lightblue.disabled.focus,
.btn-lightblue[disabled].focus{background-color:#6cc3fe;}

.btn-grey {color:#fff;background-color:#bfbfbf;}
.btn-grey:focus,
.btn-grey.focus {color:#fff;background-color:#adadad;}
.btn-grey:hover {color:#fff;background-color:#adadad;}
.btn-grey:active,
.btn-grey.active,
.open > .dropdown-toggle.btn-grey {background-color:#adadad;}
.btn-grey:active:hover,
.btn-grey.active:hover,
.open > .dropdown-toggle.btn-grey:hover,
.btn-grey:active:focus,
.btn-grey.active:focus,
.open > .dropdown-toggle.btn-grey:focus,
.btn-grey:active.focus,
.btn-grey.active.focus,
.open > .dropdown-toggle.btn-grey.focus {background-color:#adadad;}
.btn-grey:active,
.btn-grey.active,
.open > .dropdown-toggle.btn-grey {background-image:none;}
.btn-grey.disabled:hover,
.btn-grey[disabled]:hover,
.btn-grey.disabled:focus,
.btn-grey[disabled]:focus,
.btn-grey.disabled.focus,
.btn-grey[disabled].focus{background-color:#bfbfbf;}

.btn-orange {color:#fff;background-color:#ffa349;}
.btn-orange:focus,
.btn-orange.focus {color:#fff;background-color:#e08730;}
.btn-orange:hover {color:#fff;background-color:#e08730;}
.btn-orange:active,
.btn-orange.active,
.open > .dropdown-toggle.btn-orange {background-color:#e08730;}
.btn-orange:active:hover,
.btn-orange.active:hover,
.open > .dropdown-toggle.btn-orange:hover,
.btn-orange:active:focus,
.btn-orange.active:focus,
.open > .dropdown-toggle.btn-orange:focus,
.btn-orange:active.focus,
.btn-orange.active.focus,
.open > .dropdown-toggle.btn-orange.focus {background-color:#e08730;}
.btn-orange:active,
.btn-orange.active,
.open > .dropdown-toggle.btn-orange {background-image:none;}
.btn-orange.disabled:hover,
.btn-orange[disabled]:hover,
.btn-orange.disabled:focus,
.btn-orange[disabled]:focus,
.btn-orange.disabled.focus,
.btn-orange[disabled].focus{background-color:#ffa349;}

.btn-green {color:#fff;background-color:#6fbc49;}
.btn-green:focus,
.btn-green.focus {color:#fff;background-color:#5ba536;}
.btn-green:hover {color:#fff;background-color:#5ba536;}
.btn-green:active,
.btn-green.active,
.open > .dropdown-toggle.btn-green {background-color:#5ba536;}
.btn-green:active:hover,
.btn-green.active:hover,
.open > .dropdown-toggle.btn-green:hover,
.btn-green:active:focus,
.btn-green.active:focus,
.open > .dropdown-toggle.btn-green:focus,
.btn-green:active.focus,
.btn-green.active.focus,
.open > .dropdown-toggle.btn-green.focus {background-color:#5ba536;}
.btn-green:active,
.btn-green.active,
.open > .dropdown-toggle.btn-green {background-image:none;}
.btn-green.disabled:hover,
.btn-green[disabled]:hover,
.btn-green.disabled:focus,
.btn-green[disabled]:focus,
.btn-green.disabled.focus,
.btn-green[disabled].focus{background-color:#6fbc49;}

.btn-lightgreen {color:#fff;background-color:#1bb99a;}
.btn-lightgreen:focus,
.btn-lightgreen.focus {color:#fff;background-color:#10b393;}
.btn-lightgreen:hover {color:#fff;background-color:#10b393;}
.btn-lightgreen:active,
.btn-lightgreen.active,
.open > .dropdown-toggle.btn-lightgreen {background-color:#10b393;}
.btn-lightgreen:active:hover,
.btn-lightgreen.active:hover,
.open > .dropdown-toggle.btn-lightgreen:hover,
.btn-lightgreen:active:focus,
.btn-lightgreen.active:focus,
.open > .dropdown-toggle.btn-lightgreen:focus,
.btn-lightgreen:active.focus,
.btn-lightgreen.active.focus,
.open > .dropdown-toggle.btn-lightgreen.focus {background-color:#10b393;}
.btn-lightgreen:active,
.btn-lightgreen.active,
.open > .dropdown-toggle.btn-lightgreen {background-image:none;}
.btn-lightgreen.disabled:hover,
.btn-lightgreen[disabled]:hover,
.btn-lightgreen.disabled:focus,
.btn-lightgreen[disabled]:focus,
.btn-lightgreen.disabled.focus,
.btn-lightgreen[disabled].focus{background-color:#1bb99a;}

.btn-white {border-color:#ccc;color:#333;background-color:#fff;}
.btn-white:focus,
.btn-white.focus {color:#333;background-color:#fff;}
.btn-white:hover {color:#333;background-color:#fff;}
.btn-white:active,
.btn-white.active,
.open > .dropdown-toggle.btn-white {background-color:#fff;}
.btn-white:active:hover,
.btn-white.active:hover,
.open > .dropdown-toggle.btn-white:hover,
.btn-white:active:focus,
.btn-white.active:focus,
.open > .dropdown-toggle.btn-white:focus,
.btn-white:active.focus,
.btn-white.active.focus,
.open > .dropdown-toggle.btn-white.focus {background-color:#fff;}
.btn-white:active,
.btn-white.active,
.open > .dropdown-toggle.btn-white {background-image:none;}
.btn-white.disabled:hover,
.btn-white[disabled]:hover,
.btn-white.disabled:focus,
.btn-white[disabled]:focus,
.btn-white.disabled.focus,
.btn-white[disabled].focus{background-color:#999;}

.btn-long{padding-left:1.5em;padding-right:1.5em;}

.btn-waterblue {color:#fff;background-color:#5bc0de;}
.btn-waterblue:focus,
.btn-waterblue.focus {color:#fff;background-color:#4babc7;}
.btn-waterblue:hover {color:#fff;background-color:#4babc7;}
.btn-waterblue:active,
.btn-waterblue.active,
.open > .dropdown-toggle.btn-waterblue {background-color:#4babc7;}
.btn-lightgreen:active:hover,
.btn-lightgreen.active:hover,
.open > .dropdown-toggle.btn-waterblue:hover,
.btn-waterblue:active:focus,
.btn-waterblue.active:focus,
.open > .dropdown-toggle.btn-waterblue:focus,
.btn-waterblue:active.focus,
.btn-waterblue.active.focus,
.open > .dropdown-toggle.btn-waterblue.focus {background-color:#4babc7;}
.btn-waterblue:active,
.btn-waterblue.active,
.open > .dropdown-toggle.btn-waterblue {background-image:none;}
.btn-waterblue.disabled:hover,
.btn-waterblue[disabled]:hover,
.btn-waterblue.disabled:focus,
.btn-waterblue[disabled]:focus,
.btn-waterblue.disabled.focus,
.btn-waterblue[disabled].focus{background-color:#4babc7;}


/********** 幻灯片 **********/
.login-slide{background-color:#eff6fe;}
.login-slide .slick-slide img{margin:auto;}
.slick-dots{position:absolute;bottom:20px;width:100%;text-align:center;}
.slick-dots li{position:relative;display:inline-block;width:10px;height:10px;border-radius:50%;box-shadow:inset 0 0 2px rgba(0,0,0,.2);margin:0 5px;background-color:#fff;filter:alpha(opacity=50);opacity:.5;cursor:pointer;}
.slick-dots li button{display:none;}
.slick-dots li.slick-active{background-color:#000;}



/********** chosen **********/
.chosen-container{font-size:14px;}
.chosen-container-single .chosen-single{height:36px;padding:0 0 0 6px;border-color:#ccc;border-radius:0;box-shadow:none;line-height:inherit;background:#fff;}
.chosen-container-single .chosen-single div b{background-position: 0 8px;}
.chosen-container-active.chosen-with-drop .chosen-single div b {background-position: -18px 8px}
.table .chosen-container-single .chosen-single{height:26px;}
.table .chosen-container-single .chosen-single div b{background-position: 0 2px;}
.table .chosen-container-active.chosen-with-drop .chosen-single div b {background-position: -18px 2px}
.chosen-container-active.chosen-with-drop .chosen-single{border-color:#f59942;background:#fff;}
.chosen-container-single .chosen-drop{border-color:#f59942;border-bottom-width:1px;}
.chosen-container .chosen-results{padding:0;margin-right:0;}
.chosen-container .chosen-results li.highlighted {background-color: #39f;}
.chosen-container-multi .chosen-choices{padding:3px 4px;border:1px solid #ccc;background:#fff;}
.chosen-container-active .chosen-choices{border-color:#f59942;}
.chosen-container-multi .chosen-choices li.search-field input[type="text"]{font-family:"Microsoft Yahei";color:#c0c0c0;}



/********** 单选框及复选框 **********/
input[type=checkbox].wp,
input[type=radio].wp {
  opacity: 0;
  position: absolute;
  z-index: 1;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
label input[type=checkbox].wp,
label input[type=radio].wp {
  z-index: -100 !important;
  width: 1px !important;
  height: 1px !important;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}
input[type=checkbox].wp:checked,
input[type=radio].wp:checked,
input[type=checkbox].wp:focus,
input[type=radio].wp:focus {
  outline: none !important;
}
input[type=checkbox].wp + .lbl,
input[type=radio].wp + .lbl {
  position: relative;
  display: inline-block;
  margin: 0;
  line-height: 20px;
  min-height: 18px;
  min-width: 18px;
  font-weight: normal;
  cursor: pointer;
}
input[type=checkbox].wp + .lbl::before,
input[type=radio].wp + .lbl::before {
  cursor: pointer;
  font-family: 'fontAwesome';
  font-weight: normal;
  font-size: 12px;
  color: #fff;
  content: "\a0";
  background-color: #fafafa;
  border: 1px solid #c8c8c8;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  /*, inset 0px -15px 10px -12px rgba(0,0,0,0.05);*/
  border-radius: 0;
  display: inline-block;
  text-align: center;
  height: 16px;
  line-height: 14px;
  min-width: 16px;
  margin-right: 1px;
  position: relative;
  top: -1px;
}
input[type=checkbox].wp:checked + .lbl::before,
input[type=radio].wp:checked + .lbl::before {
  display: inline-block;
  content: '\f00c';
  color: #32a3ce;
  background-color: #f5f8fc;
  border-color: #adb8c0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
}
input[type=checkbox].wp:hover + .lbl::before,
input[type=radio].wp:hover + .lbl::before,
input[type=checkbox].wp + .lbl:hover::before,
input[type=radio].wp + .lbl:hover::before {border-color: #ff893c;}
input[type=checkbox].wp:focus + .lbl::before,
input[type=radio].wp:focus + .lbl::before {border-color: #f59942;}
input[type=checkbox].wp:active + .lbl::before,
input[type=radio].wp:active + .lbl::before,
input[type=checkbox].wp:checked:active + .lbl::before,
input[type=radio].wp:checked:active + .lbl::before {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}
input[type=checkbox].wp.wp-checkbox-2 + .lbl::before,
input[type=radio].wp.wp-checkbox-2 + .lbl::before {box-shadow: none;}
input[type=checkbox].wp.wp-checkbox-2:checked + .lbl::before,
input[type=radio].wp.wp-checkbox-2:checked + .lbl::before {
  background-color: #f9a021;
  border-color: #f9a021;
  color: #fff;
}
input[type=checkbox].wp:disabled + .lbl::before,
input[type=radio].wp:disabled + .lbl::before,
input[type=checkbox].wp[disabled] + .lbl::before,
input[type=radio].wp[disabled] + .lbl::before,
input[type=checkbox].wp.disabled + .lbl::before,
input[type=radio].wp.disabled + .lbl::before {
  background-color: #ddd !important;
  border-color: #ccc !important;
  box-shadow: none !important;
  color: #bbb;
}
.checkbox label input[type=checkbox].wp + .lbl,
.radio label input[type=radio].wp + .lbl {margin-left: -10px;}
input[type=radio].wp + .lbl::before {
  border-radius: 100%;
  font-family: 'FontAwesome';
  text-shadow: 0 0 1px #32a3ce;
  line-height: 16px;
  height: 17px;
  min-width: 17px;
}
input[type=radio].wp:checked + .lbl::before {content: "\f111";}
input[type=checkbox].wp.input-lg + .lbl::before {
  border-radius: 4px;
  font-size: 16px;
  height: 24px;
  line-height: 21px;
  min-width: 24px;
  top: auto;
}
input[type=radio].wp.input-lg + .lbl::before {
  font-size: 14px;
  height: 24px;
  line-height: 22px;
  min-width: 24px;
  top: auto;
}

/*wp-switch*/
input[type=checkbox].wp.wp-switch {
  width: 60px;
  height: 25px;
}
input[type=checkbox].wp.wp-switch + .lbl {
  margin: 0 4px;
  min-height: 24px;
}
input[type=checkbox].wp.wp-switch + .lbl::before {
  font-family: 'Open Sans';
  font-weight: normal;
  text-align: left;
  float: left;
  padding: 0;
  margin-right: 0;
  top: auto;
  /*content: "ON\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0OFF";*/
  content: "\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0";
  font-size: 12px;
  line-height: 21px;
  height: 24px;
  overflow: hidden;
  border-radius: 12px;
  background-color: #999;
  border: 1px solid #999;
  color: #FFF;
  width: 56px;
  text-indent: -25px;
  text-shadow: 0 0 0 #FFF;
  display: inline-block;
  position: relative;
  box-shadow: none;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
input[type=checkbox].wp.wp-switch + .lbl::after {
  font-family: 'Open Sans';
  font-weight: normal;
  border-radius: 100%;
  text-align: center;
  -webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,.3);
  box-shadow: 0px 1px 1px 1px rgba(0,0,0,.3);
  content: 'III';
  font-size: 11px;
  position: absolute;
  top: 2px;
  left: 2px;
  letter-spacing: 0;
  width: 20px;
  height: 20px;
  line-height: 19px;
  text-shadow: none !important;
  color: #fff;
  background-color: #FFF;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
input[type=checkbox].wp.wp-switch:checked + .lbl::before {
  color: #FFF;
  text-shadow: 0 0 0 #FFF;
  text-indent: 9px;
  background-color: #1e9bf2;
  border-color: #1e9bf2;
}
input[type=checkbox].wp.wp-switch:checked + .lbl::after {
  left: 34px;
  background-color: #FFF;
  color: #fff;
}
input[type=checkbox].wp.wp-switch + .lbl[data-lbl]::before {
  content: attr(data-lbl);
}
input[type=checkbox].wp.wp-switch.btn-empty + .lbl::after {
  content: "";
}
input[type=checkbox].wp.wp-switch.btn-rotate + .lbl::after {
  content: "\2261";
  line-height: 20px;
  font-size: 17px;
}
input[type=checkbox].wp.btn-rotate + .lbl::after {
  line-height: 17px;
}
input[type=checkbox].wp.wp-switch.btn-flat + .lbl::before,
input[type=checkbox].wp.wp-switch.btn-flat + .lbl::after {
  border-radius: 0 !important;
}
input[type=checkbox].wp.wp-switch + .lbl::before{
  text-indent: -24px;
}
input[type=checkbox].wp.wp-switch:checked + .lbl::before {
  text-indent: 7px;
}



/********** 表单元素 **********/
::-ms-clear, ::-ms-reveal{display: none;} /*隐藏IE浏览器输入框的清除按钮和查看密码按钮*/
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill,
input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus,
select:-webkit-autofill:focus{box-shadow: 0 0 0 1000px white inset;}  /*修改chrome浏览器记住密码及自动填充数据时的黄色背景*/
.form-control::-moz-placeholder {color: #ccc;}
.form-control:-ms-input-placeholder {color: #ccc;}
.form-control::-webkit-input-placeholder {color: #ccc;}
.input-group-search{float:left;width:auto !important;}
.input-group-search .form-control{display:initial;width:auto !important;}
.input-group-search .input-group-btn{display:initial;float:left;}
.form-control.width65{width:65px;}
.form-control.number{width:100px;}
.form-file{display:inline-block;background-color: #ececec;border: 1px solid #d2d5d7;padding: 31px 35px;text-align: center;overflow:hidden;position:relative;}
.form-file input{position:absolute;top:0;right:0;opacity:0;-moz-opacity:0;filter:alpha(opacity=0);cursor:pointer;outline:0;font-size:100px;}
.form-file i{font-size: 30px;color: #bfbfbf;}
.form-file-tips{margin: 35px 0 0 20px;color: #999;}
.form-control{height:36px;border-radius:0;box-shadow:none;}
.form-show{padding-top: 7px;}
.input-sm{height:30px;}
.input-lg{height:46px;}
textarea.form-control{word-wrap:break-word;word-break:break-all;}
.table .form-control{height:26px;padding:2px 12px;}
.form-horizontal.margin-10{margin-top: 10px;}
.form-horizontal.margin-30{margin-top: 30px;}
.form-horizontal .lbl{float: left;margin: 0 20px -15px 0 !important;}
.control-title{text-align: right;font-size: 16px;color: #333;}
.control-label{font-weight: 100;}
.control-tips{padding-top: 7px;}
.control-disabled{font-size: 12px;color: #999;}
.input-icon{position: relative;display: block;}
.input-icon > .fa{position: absolute;top: 3px;right: 3px;z-index: 2;display: inline-block;line-height: 30px;padding: 0 3px;font-size: 16px;color: #909090;cursor: pointer;}
.has-warning{color: #d19d59;}
.has-error{color: #d16e6c;}
.has-success{color: #7ba065;}
.has-info{color: #657ba0;}
.has-warning > .fa,
.has-error > .fa,
.has-success > .fa,
.has-info > .fa{margin-right: 5px;}
.has-tips{font-size: 16px;color: #2da4fe;cursor: pointer;}

/*模糊查询下拉列表*/
.tt-hint {color: #999}
.tt-menu {
  width: 220px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.tt-suggestion {
  padding: 3px 15px;
  font-size: 16px;
  line-height: 24px;
}
.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #2c9ae8;
}
.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #2c9ae8;
}
.tt-suggestion p {margin: 0;}
.gist {font-size: 14px;}



/********** filter **********/
.filter:after,
.filter:before,
.filter-item:after,
.filter-item:before{content:'';display:table;}
.filter:after,
.filter-item:after{clear:both;}
.filter.filter-f16{font-size:16px;}
.filter-item{float:left; margin-right:30px;margin-bottom: 10px; line-height:34px;}
.filter-item-right{float:right;margin-right:0;}
.filter-name{float:left; margin-bottom:0; font-weight:normal; text-align:right;}
.filter-content{float:left;}
.filter-content p{margin-bottom:0;}
.filter-item .form-control,
.filter-item .input-group {width:140px;margin-right:10px;}
.filter-item .input-group .form-control{width:100%;margin-right:0;}
.filter-item .input-group .date-range{width: 200px;}
.filter-item .input-group .date-range-time{width: 260px;}
.filter-item .ace-spinner .input-group{width:auto;}
.filter-item .input-daterange{width:280px;}
.filter-item.block{float:none;margin-right:0;}
.filter-item.block .filter-name{min-width:5em;}
.filter-item.block .filter-content{float:none; margin-left:5em; overflow:hidden;}
.filter-item.block .form-control,
.filter-item.block .input-group {float:left; width:180px; max-width:100%;margin-bottom:5px;}
.filter-item.block .input-group .form-control{margin-bottom:0;}
.filter-item.block .filter-content>label{margin-right: 3em;}
.filter-item.block .filter-content>label .form-control{float:none;display:inline-block;}
.filter-item.block.no-float{margin-right:0;}
.filter-item.block.no-float .filter-name{float:none;}
.filter-item.block.no-float .filter-content{margin-left:0;}
.filter-item.block.no-float .form-control,
.filter-item.block.no-float .input-group{width:100%;margin-bottom:10px;margin-right:0;}
.table .filter-item .filter-name,
.table .filter-item .filter-content{line-height: 26px;}
.table .filter-item.block .filter-name{min-width: 0;}
.table .filter-item.block .filter-content{margin-left: 0;}
.filter-sm .filter-item{line-height:30px;}
.label-list li{float:left;width:33%;}
.label-list li label{position:relative;}



/********** 省市区行政区划 **********/
.multi-select{min-width: 140px;width: 100%;height: 36px;position: relative;}
.multi-select dl{margin: 0;}
.multi-select-text{position: absolute;top:0;left:0;width: 100%;}
.multi-select-text > input.form-control{width: 100%;background: #fff !important;}
/*.multi-select-text > input.form-control::-ms-clear{display:none;}*/
.multi-select-text > i{position: absolute;top:10px;right:15px;}
.multi-select-layer{position: absolute;top:35px;left:0;z-index: 99;min-width: 350px;width: 100%;background: #fff;border: 1px solid #d2d5d7;}
.multi-select-layer .content-list{padding: 20px 0;}
.multi-select-layer ul.content-list{display: none;padding: 20px;}
.multi-select-layer dl{margin: 10px 0;}
.multi-select-layer dl:last-child{margin-bottom: 0;}
.multi-select-layer dt{float: left;width: 70px;padding-left: 30px;}
.multi-select-layer dd{margin-left: 80px;}
.multi-select-layer dd > span,.multi-select-layer ul.content-list li{float: left;display: inline-block;height: 24px;line-height: 24px;padding: 0 10px;margin:0 5px 5px 0;white-space:nowrap;cursor: pointer;}
.multi-select-layer dd > span.current,.multi-select-layer ul.content-list li.current{background-color: #1e9bf2;border-radius: 3px;color: #fff;}
.multi-select-tab{background-color: #f0f0f0;border-right: 1px solid #d2d5d7;margin-right: -1px;}
.multi-select-tab li{float: left;width: 33.3333%;height: 38px;line-height: 38px;background-color: #f0f0f0;border-right: 1px solid #d2d5d7;border-bottom: 1px solid #d2d5d7;text-align: center;cursor: not-allowed;}
.multi-select-tab li:last-child{border-right: 0;}
.multi-select-tab li.current{background: #fff;border-bottom: 1px solid #fff;}
.multi-select-tab li.can{cursor: pointer;}

/********** 邮箱自动填充 **********/
.ui-mail{position: relative;}
#mailBox{position:absolute;top:0;left:0;background:#fff;border:1px solid #ddd;padding:3px 5px 5px;z-index:9999;display:none;-webkit-box-shadow:0px 2px 7px rgba(0, 0, 0, 0.35);-moz-box-shadow:0px 2px 7px rgba(0, 0, 0, 0.35);}
#mailBox p{width:100%;margin:0;padding:0;height:20px;line-height:20px;clear:both;color:#ccc;cursor:default;}
#mailBox ul{padding:0;margin:0;}
#mailBox li{height:22px;line-height:22px;color:#939393;font-family:'Tahoma';list-style:none;cursor:pointer;overflow:hidden;}
#mailBox .cmail{color:#000;background:#e8f4fc;}

/********** 表格 **********/
.table > thead > tr{background-color:#ececec;}
.table > thead > tr > th{border-bottom-width:1px;white-space:nowrap;}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {border-top:0;border-bottom:1px solid #ddd;vertical-align:middle;}
.table > tbody > tr.table-first > th{background-color: #ececec;}
.table > tbody > tr > th.table-title{background-color: #ececec;padding-right: 20px;text-align: right;}
.table label{margin-right:10px;margin-bottom:0;}
.table-btn{margin:0 5px;}
.table-th-tool{float:right;margin-right:5px;cursor:pointer;}
.detail-row{display:none;background-color:#f3f9fd;}
.table-hover > tbody > .detail-row:hover{background-color:#f3f9fd;}
.detail-row.open{display:block;display:table-row;}
.table > tbody > .detail-row > td{padding:20px;}
.table-grid{display:table;width:100%;}
.table-grid-item{display:table-cell;width:1%;}
.table-grid .table-grid-item .form-control{width:100%;}
.table-input[type='text']{width:100%;height:26px;border:1px solid transparent;background-color:transparent;}
.table-input-sm[type='text']{width:40px;padding:0 5px 0 0;text-align:right;}
.table-input[type='text']:hover{border-color:#ccc;}
.table-input[type='text']:focus{border-color:#ccc;background-color:#fff;}
.table input[type='text'][disabled]{background:transparent !important;}
.table input[type='text'][disabled]:hover{border-color:transparent !important;}
.table-selects > select{margin-bottom:8px;}
.table-noequal > thead > tr > th,
.table-noequal > tbody > tr > th,
.table-noequal > tfoot > tr > th,
.table-noequal > thead > tr > td,
.table-noequal > tbody > tr > td,
.table-noequal > tfoot > tr > td {width:auto;}

/*表格居中*/
.table-middle > tbody > tr > th,
.table-middle > tbody > tr > td{vertical-align: middle;}
.table-middle > tbody > tr > td > p{margin: 10px 0;padding: 0;}
.table-middle > tbody > tr > td.no-border{border-bottom: 0;}

/*form展现table*/
.table-show > tbody > tr > th,
.table-show > tbody > tr > td{border-bottom: 0;word-wrap:break-word;word-break:break-all;}
.table-show > tbody > tr > th{width: 120px;text-align: right;font-weight: 100;}

/*带分割线外框表格*/
.table-outline th,
.table-outline td{border: 1px solid #e1e1e1 !important;}
.table-outline td{height: 43px;}
.table-outline .switch-label{line-height: 1;margin: 0;}
.table-outline .input-icon > .fa{line-height: 22px;}
.td-lock{background-color: #f5f5f5;}
.td-lock > .input-icon > .fa{display: none;color: #818181;}
.td-lock:hover > .input-icon > .fa{display: block;}
.td-edit:hover > .input-icon > .fa{display: none;}
.td-lock > .input-icon > .form-control{display: none;}
.td-lock > .input-icon > .txt-val{display: block;word-wrap:break-word;word-break:break-all;}
.td-edit > .input-icon > .form-control{display: block;}
.td-edit > .input-icon > .txt-val{display: none;}
.table-show .td-lock{display: inline-block;width: 230px;}
.table-show .td-lock .txt-val{display: block;height: 36px;border: 1px solid #ccc;padding: 6px 12px;font-size: 14px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.table-show .td-lock .form-control{height: 36px;}



/********** 弹出层 **********/
.layer{display:none;padding:20px;}
.layer-footer{text-align:center;}
.layer-footer .btn{margin:0 6px;}
.layui-layer{border-radius:5px !important;}
.layui-layer .layui-layer-title{height:60px;border-radius:5px 5px 0 0;font-size:16px;line-height:60px;}
.layer-tip .layer-header{border-bottom:1px solid #cfd2d4;text-align:center;}
.layui-layer .layui-layer-setwin{top:24px;}
.layer-tip .layer-body{padding: 10px 0 25px;text-align: center;}
.layer-tip-icon{display:inline-block;width:50px;height:50px;background:no-repeat;}
/*.layer-tip-icon-warning{background-image:url(../images/icons/icon-warning.png);}
.layer-tip-icon-success{background-image:url(../images/icons/icon-successed.png);}
.layer-tip-icon-failed{background-image:url(../images/icons/icon-failed.png);}*/
.layui-layer .layui-layer-btn{text-align:center;}
.layui-layer .layui-layer-btn a{height:auto;padding:4px 20px;font-size:16px;line-height:inherit;text-align:center;}
.layer-scrollContainer{max-height:450px;overflow:auto;}
.layer-change .filter-name{width:9em;text-align:right;}
.layer-change .filter-item {margin-right: 10px;}
.layer-slide a{position:absolute;top:50%;padding:0 10px;margin-top:-30px;}
.layer-slide-prev{left:10px;}
.layer-slide-next{right:10px;}
.layui-layer.layui-layer-page .layui-layer-content{overflow:visible;}



/********** 分页 **********/
.nav-page{margin-top:20px;}
.nav-page .pagination{margin:0 5px;}
.pagination .form-control{display:inline-block;padding:6px 5px;line-height:34px;}
.pagination .form-control[type='text']{width:50px;text-align:center;}
.pagination select.form-control{width:60px;}
.pagination input[type=text].form-control{vertical-align: -8px\0;}
.pagination > li > a,
.pagination > li > span{float:none;display:inline-block;padding:10px 12px;line-height:1;color:#333;}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus{border-color:#2c9ae8;background-color:#2c9ae8;}
.pagination-other{margin:0 5px;}
.pagination-sm > li > a,
.pagination-sm > li >span{padding:7px 10px;font-size:14px;}
.pagination-sm .form-control{height:30px;padding:4px 5px;line-height:30px;}

/********** 分页操作栏 **********/
.nav-toolBar{padding: 20px 0 0 8px;}



/********** tab 切换 **********/
.nav-tabs-wrap{position:relative;}
.nav-tabs{}
.nav-tabs > li > a{font-size:16px;}
.nav-tabs-1,
.nav-tabs-1.nav-justified{border-bottom: 1px solid #ddd;}
.nav-tabs-1 > li > a{padding:15px 20px;border:none;border-radius:0;color:#333;}
.nav-tabs-1 > li.active > a,
.nav-tabs-1 > li.active > a:hover,
.nav-tabs-1 > li.active > a:focus{border:none;color:#2c9ae8;background-color:inherit;}
.nav-tabs-1 > li.active:after{position:absolute;left:0;right:0;bottom:0;content:'';height:3px;background-color:#2c9ae8;}
.nav-tabs.nav-justified > li > a {margin-right: 0;border-radius: 0;}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {border:none;color:#2c9ae8;background-color:inherit;}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li > a {border:0;border-radius:0;}
  .nav-tabs.nav-justified > .active > a,
  .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs.nav-justified > .active > a:focus {border-bottom-color: #2c9ae8;}
}
.tab-content{padding-top:20px;}
.nav-tabs-btns{position:absolute;top:8px;right:0;}
.tab-header-tools{float:right;padding-top:5px;}
.tab-header-tools .btn{margin-left:10px;}



/********** 小部件盒子 **********/
.box{position:relative;margin-bottom:20px;}
.box-tools{position:absolute;top:20px;right:20px;text-align:right;}
.box-tools-btn{display:inline-block;width:20px;height:20px;line-height:20px;font-size:18px;color:#ccc;}
.box-tools-btn:hover,
.box-tools-btn:focus{color:#333;}
.box-tools-menu{left:-40px;min-width:80px;border:1px solid #e8e8e8;padding:0;box-shadow: 0px 4px 9px rgba(0, 0, 0, .175);}
.box-tools-menu-angle{position:absolute;top:-8px;right:20px;content:'';border-width:0 8px 8px;border-style:solid;border-color:#e8e8e8 transparent;}
.box-tools-menu-angle:before{position:absolute;top:2px;left:-8px;content:'';border-width:inherit;border-style:inherit;border-color:#fff transparent;}
.box-tools-menu > li > a{height:40px;line-height:34px;text-align:center;}
.box-more{margin-top:10px;text-align:right;}
.box-more a{color:#999;}
.box-header{position:relative;}
.box-title{display:inline-block;position:relative;margin:0 0 15px;font-size:16px;line-height:1.6;}
.box-title:before{position:absolute;left:0px;top:3px;bottom:3px;content:'';width:5px;background-color:#3ba2e4;}
.box-title-sm{font-size:14px;}
.box-title-lg{font-size:18px;}
.box-header-tools{position:absolute;right:0;bottom:0;}
.box-body{padding:20px;}
.box-header+.box-body{padding-top:12px;}
.box-body.padding-5{padding:5px;}
.box-body.padding-15{padding:15px;}
.box-default{border:1px solid #fff;border-radius:5px;box-shadow:0px 1px 3px rgba(207,210,212,0.6);background-color:#fff;}
.box-default .box-header{border-bottom:1px solid #e8e8e8;margin:20px 20px 0;}
.box-default .box-title{padding-left:15px;}
.box-graybg{background-color: #f4f4f4;padding: 10px 20px;}
.box-graybg > p{color: #666;}
.box-graybg-title{padding: 5px 0;font-size: 14px;font-weight: 700;color: #666;}
.box-transparent{}
.box-transparent .box-header{margin-left:20px;}



/********** 日历本 **********/
.fc-event{padding:3px;border:0;border-radius:0;margin-bottom:3px;font-size:14px;background-color:#317eeb;}
.calendar-event-label>label{margin-right:15px;}
.calendar-event-label .lbl span{display:inline-block;width:40px;height:16px;border-radius:2px;margin-left:5px;vertical-align:middle;}
.calendar-event-label .label-info{background-color:#317eeb;}
.fc-event.label-purple,
.calendar-event-label .label-purple{background-color:#7e57c2;}
.fc-event.label-black,
.calendar-event-label .label-black{background-color:#000;}
.fc-event.label-red,
.calendar-event-label .label-red{background-color:#ef5350;}
.fc-event-container .fc-day-grid-event .fc-content{word-wrap:normal;}



/********** 提示 **********/
em{font-style:normal;color:#fd7b24;}
.tip{margin:5px 0;font-size:12px;}
.tip-grey{color:#999;}



/********** 辅助类扩展 **********/
.pos-rel{position:relative;}
.pos-abs{position:absolute;}
.no-float {float:none !important;}
.color-blue{color:#317eeb;}
.color-lightblue{color:#3db9dc;}
.color-red{color:#f23a2b;}
.color-orange{color:#ff7416;}
.color-green{color:#5ba536;}
.color-grey{color:#818a91;}
.color-yellow{color:#f1b53d;}
.no-padding{padding:0 !important;}
.no-margin{margin:0 !important;}

